.jumbotron {
  background: linear-gradient(teal, transparent),
  url('img/kidney.jpg');
  background-size: cover;
}

.carousel-item::after {
  content: "";
  background: linear-gradient(maroon, teal);
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

h1 {
  color: #B53367;
  text-shadow: 1px 1px 3px gray;
}

.tab-group {
	margin: 1em auto;
	max-width: 40em;
	width: 100%;
}

.tab {
	position: relative;
  width: 100%;
}

.tab input {
	left: 0;
	position: absolute;
	top: 0;
	z-index: -999;
}

.tab label {
	background: teal;
	color: #fff;
	cursor: pointer;
	display: block;
	font-weight: bold;
	line-height: 3;
	margin-bottom: .5em;
	padding-left: .5em;
	transition: letter-spacing .55s;
}

.tab input:focus + label,
.tab label:hover{
	background: #85D8CE;
	letter-spacing: 1px;
}

.tab-content {
	max-height: 0;
	overflow: hidden;
	transition: all .35s;
}

.tab-content p {
	margin: 1em 0;
}

.tab input:checked ~ .tab-content {
	max-height: 6.25em;
}
